body {
    font-family: 'Cairo', 'Open Sans', sans-serif;
    color: #101010;
    background-color: #fefefe;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.wrapper {
    height: 100vh;
    max-height: 1000px;
    min-height: 600px;
}

/* button */
.btn {
    font-size: 22px;
    font-weight: 600;
    border: 2px solid #101010;
    border-radius: 8px;
    padding: 3px 15px;
    cursor: pointer;
    backdrop-filter: blur(10px);

    transition: color .3s;
    transition: background-color .3s;
}
.btn:hover {
    color: #fefefe;
    background-color: #101010;
}
.btn i {
    font-size: 17px;
}
a.btn {
    color: #101010;
    text-decoration: none;
}
/* button */

/* header */
.header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;

    background-color: #fff;
}
.header__content {
    height: 110px;
    transition: height .3s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    padding: 0 20px;
    
    font-size: 22px;
}
.header__social {
}
.header__social a {
    color: #101010;
    transition: color .3s;
    margin-right: 10px;
}
.header__social a:last-child {
    margin-right: initial;
}
.header__social a:hover {
    color: #404040;
}
.header__tools i {
    color: #101010;
    transition: color .3s;
    cursor: pointer;
}
.header__tools i:hover {
    color: #404040;
}
.header__tools i {
    margin-left: 10px;
}
.header__tools i:first-child {
    margin-left: initial;
}
.header__logo {
    opacity: 1;
    transition: opacity .15s;
}

.header__scrolling {
    height: 55px;
}
.header__scrolling .header__logo {
    opacity: 0;
}
/* header */

/* footer */
.footer {
    width: 100%;
    background-color: #fefefe;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}
.footer__logo {
}
.footer__times {
    border: 2px solid #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 56px;
    text-align: center;
    padding: 20px;
}
.footer__times div:first-child {
    font-size: 30px;
}
.footer__times span {
    color: #404040;
}
.footer__menu {
}
.footer__list {
}
.footer__list li {
    list-style-type: none;
}
.footer__item {
}
.footer__item:last-child {
    cursor: default;
}
.footer__item a {
    color: #101010;
    text-decoration: none;
    font-size: 25px;
    line-height: 47px;

    transition: color .3s;
}
.footer__item a:hover {
    color: #404040;
}
.footer__social {
    font-size: 22px;
    margin-top: 20px;
}
.footer__copy {
    color: #404040;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    padding: 20px 0 20px 0;
}
.footer__copy span {
    font-weight: 600;
}
/* footer */